/* header start */
body{
    margin:0;
    padding:0;
    background-color: #ddd;
    box-sizing:border-box;
}


header{
    width:100%;
    background-color:#dbcfe6;
    display:flex;
    color:black;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    font-weight:bold;
    margin-left:20px;
    padding:10px;
    margin-top:10px;
    color:black;
}
.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    padding-left:400px;
}
.navbar ul{
    list-style:none;
}
.navbar ul li{
    background-color:#9e8fa2;
    width:170px;
    height:50px;
    border:1px solid #fff;
    text-align:center;
    float:left;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:50px;
    padding:5px 15px;
}
.navbar ul li a{
    text-decoration:none;
    text-align:center;
    justify-content:center;
    align-items:center;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    
}
.navbar ul li:hover{
    background-color:#b28fd3;
    transition:all ease-in 0.5s;
    color:white;
}
.navbar ul ul{
    display:none;
}
.navbar ul li:hover>ul{
    display:block;
    color:black;
}
.navbar ul li a:hover{
    color:white;
}
/* header end */

/* footer start */
footer{
    position:absolute;
    bottom:0;
    text-align:center;
    background-color:#e5d2f6;
    width:100%;
}
.footername h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size:50px;
    font-weight:bold;

}
.text p{
    width:600px;
    text-align:center;
    top:-30px;
    position:relative;
    margin:0 auto
}
.icon i{
    font-size:45px;
    margin:0 auto;
    position:relative;
    top:-20px;
    padding:10px;
}
.copytxt{
    height:50px;
    font-size:25px;
    background-color:#b28fd3;
    line-height:50px;
}
/* footer end */

/* login form start */

.loginform{
    background-color: #a681ca;
    text-align:center;
    font-size:40px;
    width:fit-content;
    height:fit-content;
    margin:0 auto;
    padding:30px 80px;
    margin-top:60px;
    border-radius:5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), -5px -5px 5px rgba(0, 0, 0, 0.5)
}
.loginform input{
    padding:8px 50px;
    border-radius:50px;
    border-color:#470688;
    font-weight:bold;
}
.loginform .btn{
    font-weight:bold;
}






/* login form end */


/* mobile view */
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }